# Fly.io configuration file generated for the frontend service.
# Update the `app` name to a unique value before deploying.

app = "encoinfo27-frontend"
# primary_region = "gru"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  auto_stop_machines = true
  min_machines_running = 0
